<div class="panel panel-default" ng-repeat="part in model.parts">
    <div class="panel-heading">{{part.name}}</div>
    <div class="panel-body">
        <form name="machineForm">

            <div class="panel panel-default" ng-repeat="mac in part.machineItems" class="expandable">
                <div class="panel-heading">{{mac.name}}</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>印刷机</th>
                                <th>最大印刷尺寸</th>
                                <th>最小印刷尺寸</th>
                                <th>印刷厚度范围</th>
                                <th>累计报价次数</th>
                                <th>开关</th>

                            </tr>
                        </thead>
                        <tr ng-if="!mac.isNew && !mac.isEditing && !mac.shouldBeDeleted">
                            <td class="col-xs-1">
                                <a href="javascript:void(0);">
                                    <span class="glyphicon glyphicon-{{mac.sign}}" ng-init="mac.sign='expand'" ng-click="model.toggleSelect(mac);"></span>
                                </a>
                            </td>
                            <td>
                                {{mac.name}}
                            </td>
                            <td>
                                {{mac.maxPrintSizeLength}}mm x {{mac.maxPrintSizeWidth}}mm
                            </td>
                            <td>
                                {{mac.minPrintSizeLength}}mm x {{mac.minPrintSizeWidth}}mm
                            </td>
                            <td>
                                {{mac.minThickness}}g ~ {{mac.maxThickness}}g
                            </td>
                            <td>
                                {{mac.counter}}
                            </td>
                            <td>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <button class="btn btn-danger" ng-click="model.removeMachine(part, $index)">删除</button>
                                    <button ng-if="!mac.isNew && !mac.isEditing" class="btn btn-primary" ng-click="mac.isEditing = true;">修改</button>
                                    <button ng-if="mac.isEditing" class="btn btn-primary" ng-click="mac.isEditing = false;">取消</button>
                                </div>
                                <toggle-switch ng-if="!mac.isNew && !mac.isEditing" ng-model="mac.isOn" on-change="model.toggleSwitch(mac)" on-label="开" off-label="关">
                                    <toggle-switch>

                            </td>
                        </tr>
                        <tr ng-if="(mac.isNew || mac.isEditing) && !mac.shouldBeDeleted">
                            <!--Edit Mode-->
                            <td class="col-xs-1">
                                <a href="javascript:void(0);">
                                    <span class="glyphicon glyphicon-{{mac.sign}}" ng-init="mac.sign='expand'" ng-click="model.toggleSelect(mac);"></span>
                                </a>
                            </td>
                            <td class="col-md-3">
                                <div class="form-group input-group">
                                    <span class="input-group-addon" id="spName">机器名</span>
                                    <input type="text" class="form-control" aria-describedby="spName" placeholder="机器名" ng-model="mac.name" required />
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="form-group input-group">
                                    <span class="input-group-addon" id="spMaxLength">长度</span>
                                    <input class="form-control" placeholder="最大长度" aria-describedby="spMaxLength" ng-model="mac.maxPrintSizeLength" type="number" ng-pattern="model.intergerPattern" required />
                                </div>
                                <div class="form-group input-group" class="col-md-2">
                                    <span class="input-group-addon" id="spMaxWidth">宽度</span>
                                    <input class="form-control" placeholder="最大宽度" aria-describedby="spMaxWidth" ng-model="mac.maxPrintSizeWidth" type="number" required />
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="form-group input-group">
                                    <span class="input-group-addon" id="spMinLength">长度</span>
                                    <input class="form-control" placeholder="最小长度" aria-describedby="spMinLength" ng-model="mac.minPrintSizeLength" type="number" required />
                                </div>
                                <div class="form-group input-group" class="col-md-2">
                                    <span class="input-group-addon" id="spMinWidth">宽度</span>
                                    <input class="form-control" placeholder="最小宽度" aria-describedby="spMinWidth" ng-model="mac.minPrintSizeWidth" type="number" required />
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="form-group input-group">
                                    <span class="input-group-addon" id="spMinGram">最小克重(g)</span>
                                    <input class="form-control" placeholder="最小克重(g)" aria-describedby="spMinGram" ng-model="mac.minThickness" type="number" required />
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon" id="spMaxGram">最大克重(g)</span>
                                    <input class="form-control" placeholder="最大克重(g)" aria-describedby="spMaxGram" ng-model="mac.maxThickness" type="number" required />
                                </div>
                            </td>
                            <td class="col-md-">{{mac.counter}}</td>

                            <td>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <button ng-if="mac.isNew" class="btn btn-danger" ng-click="model.removeMachine(part, $index)">删除</button>
                                    <button ng-if="!mac.isNew && !mac.isEditing" class="btn btn-primary" ng-click="mac.isEditing = true;">修改</button>
                                    <button ng-if="mac.isEditing" class="btn btn-primary" ng-click="mac.isEditing = false;">取消</button>
                                </div>
                                <toggle-switch ng-if="!mac.isNew && !mac.isEditing" ng-model="mac.isOn" on-change="model.toggleSwitch(mac)" on-label="开" off-label="关">
                                    <toggle-switch>


                            </td>
                        </tr>
                        <tr ng-if="mac.selected" ng-class="{selected: mac.selected}">
                            <td colspan="7">
                                <div class="panel panel-default">
                                    <div class="panel-heading">颜色设置</div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>颜色</th>
                                                    <th>开机费</th>
                                                    <th>包含印次</th>
                                                    <th>每套印版费用</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="color in mac.colorItems">
                                                <tr ng-if="!mac.isNew && !mac.isEditing && !color.shouldBeDeleted">
                                                    <td class="col-xs-1">
                                                        <a href="javascript:void(0);">
                                                            <span class="glyphicon glyphicon-{{color.sign}}" ng-init="color.sign='expand'" ng-click="model.toggleSelect(color)"></span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{color.name}}
                                                    </td>
                                                    <td>
                                                        {{color.initialCost | currency:"￥"}}
                                                    </td>
                                                    <td ng-if="!mac.isNew && !mac.isEditing">{{color.inclusiveOperationQuantity}}</td>
                                                    <td ng-if="!mac.isNew && !mac.isEditing">{{color.printPlatePerSet | currency:"￥"}}</td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm pull-right" ng-click="model.removeColor(mac, $index)">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr ng-if="(mac.isNew || mac.isEditing) && !color.shouldBeDeleted">
                                                    <!--Edit-->
                                                    <td class="col-xs-1">
                                                        <a href="javascript:void(0);">
                                                            <span class="glyphicon glyphicon-{{color.sign}}" ng-init="color.sign='expand'" ng-click="model.toggleSelect(color)"></span>
                                                        </a>
                                                    </td>
                                                    <td class="col-md-2">
                                                        <div class="form-group input-group">
                                                            <span class="input-group-addon" id="spColorName">颜色</span>
                                                            <select id="inputColor" class="form-control" aria-describedby="spColorName" ng-model="color.name">
                                                                <option ng-repeat="item in model.colors" label="{{item.name}}" value="{{item.name}}"></option>
                                                            </select>

                                                        </div>
                                                    </td>
                                                    <td>

                                                        <div class="form-group input-group">
                                                            <span class="input-group-addon" id="spInitialCost">开机费</span>
                                                            <input class="form-control" placeholder="开机费" aria-describedby="spInitialCost" ng-model="color.initialCost" type="number" required />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group input-group">
                                                            <span class="input-group-addon" id="spInclusiveQty">包含印次</span>
                                                            <input class="form-control" placeholder="包含印次" aria-describedby="spInclusiveQty" ng-model="color.inclusiveOperationQuantity" type="number" required />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group input-group">
                                                            <span class="input-group-addon" id="spPrintPlacePerSet">每套印版费用</span>
                                                            <input class="form-control" placeholder="每套印版费用" aria-describedby="spPrintPlacePerSet" ng-model="color.printPlatePerSet" type="number" required />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm pull-right" ng-click="model.removeColor(mac, $index)">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <tr ng-if="color.selected" ng-class="{selected: color.selected}">
                                                    <td colspan="6">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">颜色印次费用设置</div>
                                                            <div class="panel-body">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>印次范围</th>
                                                                            <th>每千印次费用</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody ng-repeat="cost in color.costItems">
                                                                        <tr ng-if="!mac.isNew && !mac.isEditing && !cost.shouldBeDeleted">
                                                                            <td><span>{{cost.minimumQuantity}}<span ng-if="$index==color.costItems.length-1">~无限</span></span></td>
                                                                            <td>{{cost.extraCostPerThousand | currency:"￥"}}</td>
                                                                            <td>
                                                                                <button class="btn btn-danger btn-sm pull-right" ng-click="model.removeColorCost(color, $index)">
                                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr ng-if="(mac.isNew || mac.isEditing) && !cost.shouldBeDeleted">
                                                                            <!--Edit-->
                                                                            <td>
                                                                                <div class="form-group input-group">
                                                                                    <span class="input-group-addon" id="spMinQtyStart">起始数量</span>
                                                                                    <input class="form-control" placeholder="起始数量" aria-describedby="spMinQtyStart" ng-model="cost.minimumQuantity" type="number" required />
                                                                                </div>
                                                                                <div class="form-group input-group">
                                                                                    <span class="input-group-addon" id="spMinQtyEnd">最大数量</span>
                                                                                    <input class="form-control" placeholder="0代表无限大" aria-describedby="spMinQtyEnd" ng-model="cost.maximumQuantity" type="number" />
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="form-group input-group">
                                                                                    <span class="input-group-addon" id="spCostPerThousand">每千印次费用</span>
                                                                                    <input class="form-control" placeholder="每千印次费用" aria-describedby="spCostPerThousand" ng-model="cost.extraCostPerThousand" type="number" />
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button class="btn btn-danger btn-sm pull-right" ng-click="model.removeColorCost(color, $index)">
                                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tr>
                                                                        <td colspan="6">
                                                                            <button class="btn btn-primary btn-sm pull-right" ng-click="model.addColorCost(color)">
                                                                                <span class="glyphicon glyphicon-plus"></span>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">颜色放损设置</div>
                                                            <div class="panel-body">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>最少放损数(上机纸)</th>
                                                                            <th>每多印一千叠加数(上机纸)</th>
                                                                            <th>每多一后工艺叠加数(上机纸)</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody ng-repeat="extra in color.extraNumberItems">
                                                                        <tr ng-if="!mac.isNew && !mac.isEditing && !extra.shouldBeDeleted">
                                                                            <td>{{extra.initialExtraNumber}}</td>
                                                                            <td>{{extra.extraNumberPerThousand}}</td>
                                                                            <td>{{extra.extraNumberPerAfterPrintTechnics}}</td>

                                                                        </tr>
                                                                        <tr ng-if="(mac.isNew || mac.isEditing) && !extra.shouldBeDeleted">
                                                                            <!--Edit-->
                                                                            <td>
                                                                                <div class="form-group input-group">
                                                                                    <span class="input-group-addon" id="spInitExtraNumber">最少放损数(上机纸)</span>
                                                                                    <input class="form-control" aria-describedby="spInitExtraNumber" ng-model="extra.initialExtraNumber" type="number" required />
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="form-group input-group">
                                                                                    <span class="input-group-addon" id="spextraNumberPerThousand">每多印一千叠加数(上机纸)</span>
                                                                                    <input class="form-control" aria-describedby="extraNumberPerThousand" ng-model="extra.extraNumberPerThousand" type="number" />
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="form-group input-group">
                                                                                    <span class="input-group-addon" id="spextraNumberPerTechnics">每多一后工艺叠加数(上机纸)</span>
                                                                                    <input class="form-control" aria-describedby="spextraNumberPerTechnics" ng-model="extra.extraNumberPerAfterPrintTechnics" type="number" />
                                                                                </div>

                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                    <tr>
                                                                        <td colspan="6">
                                                                            <button class="btn btn-primary btn-sm pull-right" ng-if="color.extraNumberItems.length == 0" ng-click="model.addColorExtraNumber(color)">
                                                                                <span class="glyphicon glyphicon-plus"></span>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                            <tr>
                                                <td colspan="6">
                                                    <button class="btn btn-primary btn-sm pull-right" ng-click="model.addColor(mac)">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>

                        </tr>

                    </table>
                </div>
            </div>

            <div>
                <div class="btn-group pull-right" role="group" aria-label="...">

                    <button class="btn btn-primary" ng-click="model.addMachine(part)">添加机器</button>
                    <button class="btn btn-success" ng-click="model.save(part)" ng-disabled="machineForm.$invalid">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-if="model.parts.length==0">
    no parts
</div>
