<div class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Microsoft Bot Direct Line Demo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"></li>
                    <li><a href="#myModal" data-backdrop="false" data-toggle="modal">Conversations</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="main" class="container">
    <load-directive models="model.models"></load-directive>
</div>


<div class="container-fluid">

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Message..." ng-model="model.message" enter-press="model.postMessage()">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="model.postMessage()"><span ng-show="model.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Send</button>
            <button class="btn btn-warning" type="button" ng-click="model.start()" ng-if="model.showMic"><span ng-show="model.listening" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Mic</button>
        </span>

    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Conversation</h4>

            </div>
            <div class="modal-body">
                <p></p>
                <ul class="timeline">
                    <li ng-repeat="msg in model.messages" ng-class="{'timeline-inverted': msg.from == model.botName}">
                        <div ng-class="{'timeline-badge': true, 'warning': msg.from == model.botName, 'success':msg.from != model.botName}">
                            <i class="fa fa-check">
                                <span ng-if="msg.from == model.botName">bot</span>
                                <span ng-if="msg.from != model.botName">you</span>

                            </i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{msg.text}}</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-clock-o">{{msg.created}}</i></small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div><div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
