<div class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Company AI Demo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"></li>
                    
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container">
   <load-directive models="model.models"> </load-directive>
</div>
<div class="container-fluid">
<div class="input-group">
 
      <input type="text" class="form-control" placeholder="Message..." ng-model="model.message">
	  <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="model.postMessage()">Send</button>
      </span>
</div>
    
</div>